.container{
    position: absolute;
    top: 96px;
    left: 345px;
    width: 750px;
    height: 250px;
    padding: 80px 40px;
    background: rgba(44, 62, 80, 0.63);
    animation: 1s ease 0s 1 scaleB;
        
}
@keyframes scaleB{
    0% {
          transform: scale(0%);
        }
        100% {
          transform: scale(100%);
        }
}



.container img {
    width: 20%;
    height: auto;
    margin: -90px 285px;
}
.container h1{
    width: 100%;
    margin: 90px auto 0;
    font-size: 3em;
    text-align: center;
    color: #fff;
}
.container h3{
    width: 100%;
    text-align: center;
    color: #fff;
}
.container button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 0 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fe7250;
    background: #fe7250;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}
.container .b_container{
     margin: 20px 257px;
}
.container button:hover{
    background: transparent;
    border: 2px solid #fff;
}

